<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>FonasaApp</title>
    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript --><!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Hospitales</h1>
    <ul class="collection">
        {% for hospital in hospitales %}
            <li class="collection-item"><a class="waves-effect blue waves-light btn" href="/sala_espera/{{ hospital.id }}" target="_blank">{{ hospital.nombre }} ></a>
                <ul class="collection">
                    {% for consulta in hospital.consultas %}
                        <li class="collection-item">{{ consulta.nombre_especialista }}
                        {% if consulta.ocupado%}<span class="new badge red" data-badge-caption="">Ocupado</span>{% else %}<span class="new badge green" data-badge-caption="">Disponible</span>{% endif %}
                        <span  class="secondary-content">{{ consulta.cantidad_pacientes }} Pacientes Atentidos</span></li>

                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>
</body>

</html>
