<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sala espera</title>
    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript --><!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<div class="container">

    <h1>Hospital {{ hospital.nombre }}</h1>
<div class="container">
        <div class="row">
            <ul class="collection">
                <li class="collection-item">Fumadores Urgentes<a class="btn" href="/api/{{ hospital.id }}/pacientes/fumadores_urgentes" target="preview">/api/{{ hospital.id }}/pacientes/fumadores_urgentes</a></li>
                <li class="collection-item">Paciente mas anciano<a class="btn" href="/api/{{ hospital.id }}/pacientes/mas_anciano" target="preview">/api/{{ hospital.id }}/pacientes/mas_anciano</a></li>
                <li class="collection-item">Consulta con mas pacientes atendidos<a class="btn" href="/api/{{ hospital.id }}/consulta/mas_pacientes_atendidos" target="preview">/api/{{ hospital.id }}/consulta/mas_pacientes_atendidos</a></li>
                <li class="collection-item">Pacientes Mayor riesgo que <strong>{{ primer_paciente._nombre }}</strong><a class="btn" href="/api/{{ hospital.id }}/pacientes/mas_riesgo_que/{{ primer_paciente._noHistoriaClinica }}" target="preview">/api/{{ hospital.id }}/pacientes/mas_riesgo_que/{{ primer_paciente._noHistoriaClinica }}</a></li>
            </ul>

        </div>
        <div class="row">
            <iframe style="width: 100%" class="card-panel gray" src="about:blank" name="preview" frameborder="0"></iframe>
        </div>
    </div>
    <div class="container">
        <form style="display: inline-block" method="post" action="/api/{{ hospital.id }}/consulta/atender" target="atender"><input class="btn pulse" value="Atender" type="submit" onclick="setTimeout(function(){ window.location.reload(); }, 500);"></form>
        <form style="display: inline-block"  method="post" action="/api/{{ hospital.id }}/liberar_consultas" target="liberar_consultas"><input class="btn pulse" value="Liberar" type="submit" onclick="setTimeout(function(){ window.location.reload(); }, 500);"></form>
        <form style="display: inline-block"  method="post" action="/api/{{ hospital.id }}/optimizar_atencion" target="optimizar_atencion"><input class="btn pulse" value="Optimizar" type="submit" onclick="setTimeout(function(){ window.location.reload(); }, 500);"></form>
    </div>

    <div style="display: inline-block;vertical-align:top;">
        <h2>Sala espera [{{ pacientes|length }}]</h2>
        <table>
            <thead>
              <tr>
                  <th>Nombre</th>
                  <th>Edad</th>
                  <th>Prioridad</th>
                  <th>Tipo</th>
              </tr>
            </thead>
            <tbody>
            {% for paciente in pacientes %}
                <tr>
                    <td>{{ paciente._nombre }}</td>
                    <td>{{ paciente._edad }}</td>
                    <td>{{ paciente.prioridad }}</td>
                    <td>{{ paciente.tipo_consulta }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div style="display: inline-block;vertical-align:top;">
        <h2>Sala pendientes [{{ pendientes|length }}]</h2>
        <table>
            <thead>
              <tr>
                  <th>Nombre</th>
                  <th>Edad</th>
                  <th>Prioridad</th>
                  <th>Tipo</th>
              </tr>
            </thead>
            <tbody>
            {% for paciente in pendientes %}
                <tr>
                    <td>{{ paciente._nombre }}</td>
                    <td>{{ paciente._edad }}</td>
                    <td>{{ paciente.prioridad }}</td>
                    <td>{{ paciente.tipo_consulta }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
